<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body style="background-color: black;">

        <div class="container">
            <div class="title">
                <h2>Requests Tutorial</h2>
                <p>You can use any client to make request. I used Postman for testing.</p>
            </div>
            <div class="requests">
                <div class="requestType">
                    <div class="requestName"><h4>Home Page</h4></div>
                    <div class="description">
                        <ul>
                            <li>Link: /</li>
                            <li>Type: GET</li>
                            <li>Parameter: None</li>
                            <li>Body: None</li>
                            
                        </ul>
                    </div>
                </div>
                <div class="requestType">
                    <div class="requestName"><h4>Create User</h4></div>
                    <div class="description">
                        <ul>
                            <li>Link: /users</li>
                            <li>Type: POST</li>
                            <li>Parameter: None</li>
                            <li>Body: <br>
                                { <br>
                                    &emsp; "firstName": "firstname", <br>
                                    &emsp; "lastName": "lastname", <br>
                                    &emsp; "age": "age", <br>
                                    &emsp; "password": "password" <br>
                                }
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="requestType">
                    <div class="requestName"><h4>Get Specific User Info</h4></div>
                    <div class="description">
                        <ul>
                            <li>Link: /users</li>
                            <li>Type: GET</li>
                            <li>Parameter: Id</li>
                            <li>Body: None</li>
                        </ul>
                    </div>
                </div>
                <div class="requestType">
                    <div class="requestName"><h4>Login</h4></div>
                    <div class="description">
                        <ul>
                            <li>Link: /users</li>
                            <li>Type: POST</li>
                            <li>Parameter: Id</li>
                            <li>Body: <br>
                                { <br>
                                    &emsp; "password": "password" <br>
                                }
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="requestType">
                    <div class="requestName"><h4>Patch User</h4></div>
                    <div class="description">
                        <ul>
                            <li>Link: /users</li>
                            <li>Type: PATCH</li>
                            <li>Parameter: Id</li>
                            <li>Body: (as required)<br>
                                { <br>
                                    &emsp; "firstName": "firstname", <br>
                                    &emsp; "lastName": "lastname", <br>
                                    &emsp; "age": "age", <br>
                                    &emsp; "password": "password" <br>
                                }
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="requestType">
                    <div class="requestName"><h4>Delete User</h4></div>
                    <div class="description">
                        <ul>
                            <li>Link: /users</li>
                            <li>Type: DELETE</li>
                            <li>Parameter: Id</li>
                            <li>Body: None</li>
                        </ul>
                    </div>
                </div>
                <div class="requestType">
                    <div class="requestName"><h4>Refresh Token</h4></div>
                    <div class="description">
                        <ul>
                            <li>Link: /users/refresh</li>
                            <li>Type: POST</li>
                            <li>Parameter: None</li>
                            <li>Body: <br>
                                { <br>
                                    &emsp; "token": "refresh_token", <br>
                                }
                            </li>
                        </ul>
                    </div>
                </div>
            </div>         
        </div>
        

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="" async defer></script>
    </body>
</html>